.env
# Ignore IDE config files
.idea/

# Ignore Gradio cache/config
.gradio/

# Ignore Python cache directories
__pycache__/

/dbt-bigquery-poc.iml
/.gradio/
/.venv/
/.idea/
/.env
/__pycache__/
/dbt_project/target/
/dbt_project/logs/
